.about-section {
    padding: 3rem 6rem;
    position: relative;

    .intro-title {
        margin-top: 5rem;
    
        h1 {
            font-family: 'Playfair Display', serif;
            font-size: 3.5rem;
            letter-spacing: 2px;
            line-height: 1.5;
            color: #f5f5f5;
            position: relative;
    
            &::before {
                content: '<h1>';
                position: absolute;
                font-size: 1.3rem;
                top: -1.5rem;
                left: -1rem;
                font-family: 'MonteCarlo', cursive;
                font-weight: 400;
                color: #FF5DB2;
                animation: fadeIn 1s 3s backwards;
                opacity: 0.7;
            }
    
            &::after {
                content: '</h1>';
                position: absolute;
                font-size: 1.3rem;
                bottom: -2rem;
                left: -1rem;
                font-family: 'MonteCarlo', cursive;
                font-weight: 400;
                color: #FF5DB2;
                animation: fadeIn 1s 3s backwards;
                opacity: 0.7;
            }
        }
    }
    
    p {
        margin-top: 4rem;
        max-width: 40%;
        font-family: 'Poppins', sans-serif;
        color: #f5f5f5;
        letter-spacing: 1px;
        line-height: 2;
        animation: fadeIn 1s 3s backwards;
    }

    h2 {
        position: absolute;
        top: 15rem;
        right: 25rem;
        // font-family: 'MonteCarlo', cursive;
        font-family: 'Playfair Display', serif;
        // font-family: 'Poppins', sans-serif;
        font-size: 2.5rem;
        letter-spacing: 1px;
        color: #f5f5f5;
        animation: fadeIn 1s 4s backwards;
    }
}

@media (max-width: 1400px) {

    .about-section {

        p {
            margin-top: 2rem;
        }

        h2 {
            right: 15rem;
        }
    }
}

@media (max-width: 1200px) {

    .about-section {
        padding: 3rem 3rem;

        p {
            max-width: 50%;
        }

        h2 {
            right: 10rem;
        }
    }
}

@media (max-width: 991px) {

    .about-section {

        p {
            max-width: 60%;
        }

        h2 {
            right: 3rem;
        }
    }
}

@media (max-width: 768px) {

    .about-section {

        .intro-title {

            h1 {
                font-size: 2rem;
            }
        }

        p {
            font-size: 0.9rem;
            max-width: 90%;
        }

        h2 {
            display: none;
        }
    }
}